header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

html{
    background-color: rgb(247,247,247);
}

nav{
    width: auto;
    align-items: center;
}
a{
    color: orange;
    text-decoration: solid;
    padding: 5px;
    text-decoration: none;
    margin: 10px;
}

a.btn {
    background-color: white;
    box-shadow: 0 3px 5px rgb(130, 166, 179);
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    border-radius: 25px;
    margin: 5px;
}
