header {
    background-color: var(--page_background);
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
}

nav{
    width: auto;
    align-items: center;
}
a{
    color: var(--link_color);
    text-decoration: solid;
    padding: 5px;
    text-decoration: none;
    margin: 10px;
}

a.btn {
    background-color: var(--main_color);
    box-shadow: 0 0px 5px var(--link_btn_shadow);
    text-decoration: none;
    color: var(--font_color);
    padding: 8px 15px;
    border-radius: 25px;
    margin: 5px;
}

#navbtns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
