:root{
  --page_background: rgb(247,247,247);
  --main_color: white;
  --secondary_color: whitesmoke;
  --button_shadow: rgba(0, 0, 0, 10);
  --font_color: black;
  --font_color_secondary: white;
  --link_color: orange;
  --link_btn_shadow: rgb(130, 166, 179);
  --search_panel_shadow: rgba(215, 215, 215, 100);
  --hr_color1: linear-gradient(to right, transparent, rgb(101, 101, 101),transparent);
  --hr_color2: linear-gradient(to right, rgb(230, 230, 230),transparent);
  --search_button_color: black;
}

[data-theme="dark"]{
  --page_background: rgb(22, 22, 22);
  --main_color: rgb(46, 46, 46);
  --secondary_color: rgb(31, 31, 31);
  --button_shadow: rgba(255, 255, 255, 10);
  --font_color: white;
  --font_color_secondary: black;
  --link_color: rgb(0, 145, 255);
  --link_btn_shadow: rgb(130, 166, 179);
  --search_panel_shadow: rgba(100, 100, 100, 100);
  --hr_color1: linear-gradient(to right, transparent, rgb(101, 101, 101),transparent);
  --hr_color2: linear-gradient(to right, rgb(69, 69, 69),transparent);
  --search_button_color: white;
}
* {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  color: var(--font_color);
  background-color: var(--page_background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
